RewriteEngine On
RewriteRule "index.html" "index.php"
RewriteRule "^([a-zA-Z0-9]+).html$" "index.php?page=$1" 
RewriteRule "^category/([0-9]+).html$" "index.php?page=category&id=$1" 
RewriteRule "^product/([0-9]+).html$" "index.php?page=product&id=$1" 